<footer>
  <div class="container">
    <div class="footer-content">
      <div class="logo">Laurence Putra Franslay</div>
      <ul class="footer-links">
        <li><a href="https://github.com/laurenceputra" target="_blank">GitHub</a></li>
        <li><a href="https://flickr.com/laurenceputra" target="_blank">Flickr</a></li>
        <li><a href="/Resume.pdf" target="_blank">CV</a></li>
        <li><a href="/awards/">Awards</a></li>
        <li><a href="/media/">Media</a></li>
      </ul>
    </div>
    <div class="copyright">
      © 2025 Laurence Putra Franslay. All rights reserved.
    </div>
  </div>
</footer>
