{{ define "main" }}
    <div class="splash-container">
        <div class="splash">
            <div class="splash-content">
                <h1>@{{ .Site.Params.twitter }}</h1>
                <a href="https://twitter.com/{{ .Site.Params.twitter }}" class="twitter-follow-button" data-show-count="true" style="display:none">Follow @{{ .Site.Params.twitter }}</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
                {{ .Content }}
            </div>
        </div>
    </div>

    <div class="content-wrapper">
        <div class="content category-content">
            <h2 class="content-head is-center">What do I do?</h2>
            <div class="category-writeup">
                <p>
                    I have a passion for security and distributed systems. I have previously worked in companies including SP Group, Nugit, PayPal and 99.co.
                </p>

                <p>
                    I also headed GeekcampSG from 2012 to 2014, and am currently focusing my free time on social empowerment initiatives including IAmTalentedSG, CollaborateSG and Project Stable Staples. When not doing work, or any of these stuff, I can be found cafe hopping/taking photos/trekking.
                </p>
            </div>
            <div class="pure-g">
                <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
                    <a class="content-subhead-link" href="#software-engineering">
                        <h3 class="content-subhead">Software Engineering</h3>
                    </a>
                </div>
                <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
                    <a class="content-subhead-link" href="#photography">
                        <h3 class="content-subhead">Photography</h3>
                    </a>
                </div>
                <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
                    <a class="content-subhead-link" href="#community">
                        <h3 class="content-subhead">Community</h3>
                    </a>
                </div>
                <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
                    <a class="content-subhead-link" href="#social">
                        <h3 class="content-subhead">Social</h3>
                    </a>
                </div>
            </div>
        </div>

        <div class="ribbon l-box-lrg pure-g">
            <div class="pure-u-1">
                <a name="software-engineering"></a>
                <h2 class="content-head content-head-ribbon is-center">Software Engineering</h2>
                <div class="category-writeup">
                    <p>
                        A relatively versatile software engineer, I can pick up and code in a variety of languages, while still understanding how things work at the basic level. With an academic background in Computer Science mixed with Liberal Arts, my passions lies in distributed systems and security.
                    </p>
                    <p>
                        At this point in my career, I've worked on a huge variety of stacks both professionally or for fun. I've worked on PayPal's mobile applications, ran Nugit's servers, and wrote backend code for Billpin and run SP Group's digital infrastructure. I pride myself on being able to pick up and do whatever needs to be done, and more recently started to focus on people management.
                    </p>
                </div>
                    
            </div>
        </div>

        <div class="content category-content">
            <a name="photography"></a>
            <h2 class="content-head is-center">Photography</h2>
            <div class="category-writeup">
                <p>I take photos as a hobby, and have taken photos for several tech conferences and events in Singapore, both from a professional capacity, as well as from a hobbyist perspective. Most of the photos I take are under the Attribution-NonCommercial-NoDerivs license and exists on my <a href="https://www.flickr.com/photos/{{ .Site.Params.flickr }}/albums" target="_blank">Flickr</a> account.</p>
                <p>This is a collection of some of the better photos I've taken. To view the complete set, please visit the album <a href="https://www.flickr.com/photos/{{ .Site.Params.flickr }}/albums/72157659307063115" target="_blank">here</a></p>
            </div>
            <div class="flickr-container">
                <div id="flickr-slideshow">
                </div>
            </div>
        </div>

        <div class="pure-g" id="community">
            <div class="pure-u-1 category-content category-content-mask">
                <a name="community"></a>
                <h2 class="content-head content-head-ribbon is-center">Community</h2>
                <div class="category-writeup">
                    <p>
                        I started being involved in <a href="https://geekcamp.sg">GeekcampSG</a> from 2011, and became the lead organiser in 2012. After 2014, I stepped down to focus fully on <a href="https://iamtalented.sg">IAmTalented.SG</a>. During this period of time, I grew the community from 200 signups in 2011, to over 1.3k in 2013, with a third of the community being students.
                    </p>
                    <p>
                        After 2014, I turned my focus to supporting the local tech community on behalf of PayPal Singapore. I started with a team of 2, and we slowly grew the team size. We engaged developers (and designers) by hosting meetups on a regular basis, and within 3 months, we grew the team to over 20 PayPal engineers, hosting up to 12 meetups a month in our office. Here are some of the writeups from the events we hosted: <a href="http://www.uxsg.org/2015/09/17/uxsg-meetup-17-paypal-singapore/" target="_blank">UXSG</a> | <a href="https://www.facebook.com/PyLadiesSG/posts/1629316240659426" target="_blank">PyLadies</a>.
                    </p>
                    <p>
                        I have also given a few talks in the community, including <a href="https://www.facebook.com/events/790972321002794/" target="_blank">a panel by General Assembly</a> alongside top professionals in the industry, including the Engineering Lead for Google Singapore, and the Principal Software Engineer for Pivotal Labs Singapore, as well as a talk at a DevOps conference on Continuous Delivery.
                    </p>
                </div>
                
            </div>
        </div>

        <div class="content" id="social">
            <div class="pure-g category-content">
                <div class="pure-u-1">
                    <a name="social"></a>
                    <h2 class="content-head is-center">Social</h2>
                </div>
                <div class="pure-u-1 pure-u-md-1-2">
                    <div class="category-writeup">
                        <p>
                            I am a core team member of <a href="https://iamtalented.sg">IAmTalentedSG</a> in my personal capacity. Below is short excerpt of what IAT is about.
                        </p>
                        <p>
                            <blockquote>IAT aims to reach out to youths at Secondary 2 and 3 levels, and provide opportunities to explore non-academic pathways through skills-based workshops. This programme will be most beneficial to youths without access to such resources (within their schools and/or family environment).</blockquote>
                        </p>
                        <p>Find out more about us <a href="https://iamtalented.sg" target="_blank">here</a>!</p>
                        <p>
                            Aside from this, due to the current COVID-19 situation, I am working with a couple of friends and a Non Profit Org to start <a href="https://projectstablestaples.sg" target="_blank">Project Stable Staples</a> to help the lower income families in Singapore tide through this difficult period.
                        </p>
                    </div>
                </div>
                <div class="pure-u-1 pure-u-md-1-2">
                    <div id="iat-slideshow"></div>
                </div>
                    
                
            </div>
        </div>

        <div class="footer l-box is-center">
            <a id="gheLink" href="https://github.com/{{ .Site.Params.github }}" target="_blank">Github</a> | 
            <a id="flickrLink" href="https://flickr.com/{{ .Site.Params.flickr }}" target="_blank">Flickr</a> | 
            <a id="cvLink" href="/static/Resume.pdf" target="_blank">CV</a> |
            <a href="/awards/">Awards</a> |
            <a href="/media/">Media Mentions</a>
        </div>

    </div>
{{ end }}

{{ define "scripts" }}
<script type="text/javascript">
function init() {
    calculateGalleriaHeight();
    Galleria.loadTheme('/static/js/galleria/themes/classic/galleria.classic.min.js');
    Galleria.run('#flickr-slideshow', {
        flickr: 'set:72157659307063115',
        flickrOptions: {
            max: 10
        }
    });

    Galleria.run('#iat-slideshow', {
        flickr: 'set:72157663762425013',
        flickrOptions: {
            max: 10
        }
    });

    mixpanel.track_links('#gheLink', 'Clicked GHE Link');
    mixpanel.track_links('#flickrLink', 'Clicked Flickr Link');
    mixpanel.track_links('#cvLink', 'Clicked CV Link');
    mixpanel.track("Page Loaded");
}
function calculateGalleriaHeight() {
    document.getElementById("flickr-slideshow").style.height = (document.getElementById("flickr-slideshow").clientWidth * 0.75) + 'px';
    document.getElementById("iat-slideshow").style.height = (document.getElementById("iat-slideshow").clientWidth * 0.75) + 'px';
}
window.onload = init;
window.onresize = calculateGalleriaHeight;
</script>
{{ end }}
